<div class="banner2">
  <div class="row justify-content-center">
    <div class="card mt-5 px-4 py-4" style="width: 40rem">
      <div class="text-center">
        <h2>Sign up</h2>
      </div>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :first_name,
                      required: true %>
          <%= f.input :last_name,
                      required: true %>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="form-actions">
          <div class="text-center">
          <%= f.button :submit, "Sign up", class: "btn-form" %>
        </div>
      <% end %>
            <div class="text-center">
              <%= render "devise/shared/links" %>
            </div>
    </div>
  </div>
</div>
